
.data-left-column {
  width: 199px;
  height: 100%;
  background-color: #EDEDED;
  border-right: 1px solid grey;
  float: left;

}

.data-left-column-div {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid grey;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.data-left-column-div:hover {
  background-color: #66B3F1;
  color: white;
}

.active-data-entry-link {
  background-color: #66B3F1;
  color: white;
}

.data-main-section {
  width: auto;
  overflow:hidden;
  height: 100%;
  padding-top: 10px;
}

.data-form-title {
  text-align: center;
}