/* Left column */
.data-left-column {
  width: 400px;
  height: 100%;
  border-right: 1px solid grey;
  float: left;
}

.data-left-column-categories {
  width: 100px;
  height: 100%;
  background-color: #EDEDED;
  border-right: 1px solid grey;
  float: left
}

.data-left-column-categories-div {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid grey;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.data-left-column-categories-div:hover {
  background-color: #66B3F1;
  color: white;
}

.active-data-right-column-link {
  background-color: #66B3F1;
  color: white;
}

.data-left-column-data {
  width: auto;
  overflow-y: auto;
  position: relative;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
}
.data-left-column-data-row {
  border-bottom: 1px solid grey;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.data-left-column-data-row:hover {
  background-color: #E4FDE7;
}

.active-element {
  background-color: #E4FDE7;
}

/* Data main section*/

.data-main-section {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x:hidden;
  overflow-y: scroll;
  position: relative;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
}

.data-form-container {
  /*height: (100%-48px);*/
  height: 100%;
  margin-left: 20px;
}

.form-title-div {
  width: 100%;
  height: 40px;

}
.data-form-title {
  padding-left: 20px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
}
.form-button {
  float: left;
  background-color: #E88080;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-top: 22px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.form-title {
    margin-left: 70%;
}

.data-main-error-text {
  color: red;
  font-size: 14px;
  min-height: 17px;
  margin-left: 20px;
  margin-bottom: 5px;
  clear: both;
}

.id-input {
  display: none;
}

.data-input-dataentry1{
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  margin-left:23px;
  background-color: white;
  -webkit-border-radius: 0px;
}
.data-input-dataentry2 {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  margin-left: 9px;
  background-color: white;
  -webkit-border-radius: 0px;
}
.data-input-dataentry3 {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  margin-left: 15px;
  background-color: white;
  -webkit-border-radius: 0px;
}
.data-input-dataentry4 {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  margin-left: 52px;
  background-color: white;
  -webkit-border-radius: 0px;
}
.data-input-dataentry5 {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  margin-left: 4px;
  background-color: white;
  -webkit-border-radius: 0px;
}
.data-input {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  background-color: white;
  -webkit-border-radius: 0px;
}


.role-input {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  background-color: white;
  -webkit-border-radius: 0px;
  margin-top: 0px;
}

.select-input {
  width: 258px;
  height: 37px;
}

.data-submit {
  background-color: #66B3F1;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 37px;
  line-height: 35px;
  display: block;
  margin-bottom: 20px;
  clear: both;
}



.credit-submit {
    background-color: #66B3F1;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    
}

.credit-input {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 258px;
  margin: 5px 0px 5px 0px;
  background-color: #66B3F1;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin-left: -529px;
    margin-top: 38px;
}
.credit-submit:hover,.credit-submit:focus{
  background-color: #1E90FF;
}

.data-submit:hover,.data-submit:focus{
  background-color: #1E90FF;
}

.talent-form {
  padding-bottom: 10px;
}

.talent-form-menu {
  width: 98%;
  height: 40px;
  background-color: #66B3F1;
  margin-bottom: 10px;
  overflow: hidden;
}

.talent-form-menu-button {
  height: 40px;
  line-height: 40px;
  color: white;
  width: 100px;
  text-align: center;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.talent-form-menu-button:hover {
  background-color: #A8CEEC;
}

.talent-form-menu-button-active {
  background-color: #A8CEEC;
  font-weight: 500;
}

.talent-form-menu-button-inactive {
  background-color: #C1C1C1;
}

.talent-form-menu-button-inactive:hover {
  background-color: #C1C1C1;
  cursor: default;
}

.talent-column {
  width: 260px;
  float: left;
}

.talent-column:nth-of-type(1) {
  margin-right: 10px;
}

.talent-credit-select {
  width: 260px;
  height: 200px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.talent-credit-join-container {
  width: 530px;
  height: 100px;
}

.talent-credit-join-text {
  clear: left;
  float: left;
  margin-top: 11px;
}

.delete-talent-credit-join-button {
  float: left;
  background-color: #E88080;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  margin-top: 17px;
  margin-left: 10px;
  cursor: pointer;
}

.talent-credit-select-option {
  padding: 5px;
}

.talent-credit-select:focus {
  outline:none;
}

.talent-data-comments-container {
  height: 100%;
  width: 100%;
}

.talent-data-comments {
  height: 60%;
  width: 280px;
  border: 1px solid #66B3F1;
  overflow-y: auto;
}

.talent-data-comment-header {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #66B3F1;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.comment-div {
  margin-left: 5px;
  width: 250px;
  position: relative;
}

.data-entry-comment-box {
  float: left;
  width: 260px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.data-entry-comment-input {
  outline: none;
  border: none;
  border: 1px solid #66B3F1;
  height: 103px;
  width: 248px;
  padding: 5px;
  margin: 0px;
  font-size: 14px;
  resize: none;
}

.data-entry-comment-submit {
  outline: none;
  height: 35px;
  background-size: red;
  width: 248px;
  border: none;
  color: white;
  background-color: #66B3F1;
  line-height: 35px;
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
  margin-top: 0px;
}
.data-entry-comment-submit:hover,.data-entry-comment-submit:focus{
  background-color: #1E90FF;
}


.data-entry-delete-comment-button {
  background-color: #E88080;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  color: white;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.addAgentRemoveLink,.addAgentEditLink{
  margin-top: 5px !important; 
}

.addAgentEditLink{
  color: rgba(0, 0, 255, 0.88);
  font-weight: bold;
}

.creditGenreCls {
    width: 27%;
    height: 125px !important;
    margin: 2px !important;
    border: 1px solid #66B3F1;
}

.creditGenreCls option[selected] {
    background: blue;
}

.selectedGenresCls{
  color: blue;
  font-weight: bold;
  margin: 2px;
}