
.home-right-container {
  position: fixed;
  right: 0px;
  top: 48px;
  height: 100%;
  width: 350px;
  border-left: 1px solid #E4E4E4;
  background-color: #EDEDED;
}

.home-main-container {
  position: fixed;
  top: 48px;
  left: 0px;
  width: calc(100% - 351px);
  height: 100%;
  overflow-x: hidden;
  font-size: 13px;
  min-width: 750px;
}

.home-table, .home-table-row, .home-table-column {
   border: 1px solid black;
   border-collapse:collapse;
}



.home-table-header {
  background-color: #66B3F1;
}

.home-table-header td {
  color: white;
  height: 30px;
}

.home-col-width {
  width: 70px;
}

.home-table-column {
}

.home-table-row {
  padding-left: 3px;
  height: 30px;
}
