.login-form-container {
  width: 258px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-header{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.email-form {
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: red;
  font-size: 12px;
  min-height: 15px;
  padding-bottom: 4px;
}

.success-text {
  line-height: 16px;
  color: green;
  font-size: 12px;
}

.login-input {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #66B3F1;
  font-size: 16px;
  width: 250px;
  margin: 5px 0px 5px 0px;

}

.login-submit {
  background-color: #66B3F1;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 37px;
  line-height: 35px;
  display: block;
}