* {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0;
}

body {
  /*background-color: #F7F7F7*/
}

/* HOME PAGE */
.home-header {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding: 20px;
}

.email-form-div {
  width: 220px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-header{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.email-form {
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: red;
  font-size: 12px;
  min-height: 15px;
  padding-bottom: 4px;
}

.success-text {
  line-height: 16px;
  color: green;
  font-size: 12px;
}

.email-input {
  outline:none;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  height: 25px;
  line-height: 14px;
  border: 1px solid #66B3F1;
}

.email-text {
  width: 150px;
}

.email-submit {
  background-color: #66B3F1;
  color: white;
  box-sizing: content-box;
  cursor: pointer;
  width: 50px;
  margin-left: -5px;
}

.jumbo-img {
  width: 40%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}