/* Main content */
.talent-main-container {
  position: fixed;
  top: 48px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 13px;
  min-width: 750px;
  overflow: hidden;
}

.talent-left-col {
  height: 100%;
  width: 174px;
  float: left;
  z-index: 1;
  background-color: white;
  overflow-y: scroll;
  position:relative;
}

.talent-left-col-container {
  padding-left: 5px;
  margin-bottom: 100px;
}

.match-output {
  height: 34px;
  width: 100%;
  background-color: #66B3F1;
  margin: 0px;
  color: white;
  line-height: 34px;
  text-align: center;
  /*font-size: 20px;*/
  margin-bottom: 5px;
}

.filter-text-input {
  margin-bottom: 5px;
  width: 125px;
  height: 20px;
  font-size: 13px;
  clear: left;
}

.check-toggle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #66B3F1;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

.filter-header-container {
  width: 120px;
  height: 16px;
}

.arrow {
  float: right;
  width: 0; 
  height: 0; 
  margin-top: 3px;
  
}
.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #66B3F1;
}
.arrow-down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -ms-filter:
}

.filter-header {
  font-weight: 700;
  float: left;
}

.filter-option-container {
  margin-left: 5px;
  margin-bottom: 8px;

}
.filter-option {
  cursor: pointer;
  margin-right: 5px;
}

.talent-table, .talent-table-row, .talent-table-column {
   /*border-top: 1px solid black;*/
   border-bottom: 1px solid black;
   border-collapse:collapse;
   table-layout: fixed;
}

.talent-center-div {
  overflow-x: hidden;
  overflow-y: scroll;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  background-color: white;
  border-left: 1px solid grey;
}

.talent-table {
  width: 100%;
  float: left;
}

.talent-table-header {
  background-color: #66B3F1;
  cursor: pointer;
}

.talent-table-content {
  overflow-y:scroll;
  height: -moz-calc(100% - 48px - 34px);
  height: -webkit-calc(100% - 48px - 34px);
  height: calc(100% - 48px - 34px);
}

.talent-table-header td {
  color: white;
  height: 30px;
  text-align: center;
}

.talent-table-row {
  padding-left: 3px;
  height: 30px;
  cursor: pointer;
}

.talent-table-row:hover {
  background-color: #E4FDE7;
}

.active-talent {
  background-color: #E4FDE7;
}

/* Right content */

/* Top section */
.talent-right-container {
  float: right;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  width: 350px;
  background-color: #EDEDED;
  padding-top: 5px;
  position: relative;
  z-index: -100;
}

.talent-right-container-top-div {
  width: 100%;
  height: 100px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.talent-pic {
  border-radius: 100%;
  border: 1px solid grey;
  margin-right: 10px;
  width: 98px;
  height: 98px;
  background-size: 98px 98px;
  float: left;
}
.talent-contact-info {
  width: calc(100% - 120px);
  height: 90px;
  margin-top: 10px;
  float: left;
  clear: right;
}

.talent-name {
  font-size: 24px;
  font-weight: 400;
  float: left;
}

.edit-button {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  float: left;
}

.talent-contact {
  clear: both;
}

.right-talent-container-menu {
  width: 634px;
  height: 25px;
  margin-right: auto;
  border: 1px solid #66B3F1;
  border-radius: 10px;
}

/* Menu */
.right-talent-container-menu-link {
  float: left;
  width: 105px;
  height: 25px;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
  border-collapse:collapse;
  margin-bottom: 10px;
  cursor: pointer;
}
.center-link {
  border-left: 1px solid #66B3F1;
  border-right: 1px solid #66B3F1;
}

.left-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.right-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.right-talent-container-menu-link:hover {
  background-color: #66B3F1;
  color: white;
}

.active-talent-link {
  background-color: #66B3F1;
  color: white;
}


/* Bottom content */
.talent-right-container-other-div {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

.comment-div {
  margin-bottom: 5px;
  clear: left;
}
.comment-name {
  font-size: 12px;
  font-weight: 700;
}

.comment-date {
  font-size: 12px;
}


.comment-text {
  font-size: 14px;
}

.comments-container {
  width: 100%;
  padding-bottom: 150px;
  overflow: scroll;
}

.delete-comment-button {
  background-color: #E88080;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  color: white;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  left: 320px;
  margin-top: 5px;
  cursor: pointer;
}

.comment-box {
  width: 100%;
  height: 150px;
  margin-left: -5px;
  position: absolute;
  bottom: 0px;
}

.comment-input {
  outline: none;
  border: none;
  border: 1px solid #66B3F1;
  height: 103px;
  width: 338px;
  padding: 5px;
  margin: 0px;
  font-size: 14px;
  resize: none;
}

.comment-submit {
  /*clear: both;*/
  outline: none;
  height: 35px;
  background-size: red;
  width: 100%;
  border: none;
  color: white;
  background-color: #66B3F1;
  line-height: 35px;
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
  margin-top: -10px;
}


.active-column {
  background-color: #E4FDE7;
}

.active-header {
  background-color: #A8CEEC;
}

.talent-right-container-other-div p{
    font-size: 14px;
    font-family: vardana;
    color: #555;
}

/*Grid Style Change*/

#talentGrid .ui-grid-pager-control input{
  height: 15px;
}

#talentGrid .ui-grid-filter-input{
  height: 30px;
  border-radius:5px;
  border: 1px solid #EFE;
  font-weight: bold;
}
#talentGrid .ui-grid-header-cell-row {
  background-color: #66B3F1;  
}
#talentGrid .ui-grid-header-cell-label{
  color: #fff;
  font-weight: bold;
}
.creditTableHeads{
	font-weight:500;
	text-align: left;
	width:108px;
	background-color: #66B3F1;
}
.creditTableBody{
	width:21%;
	word-break: break-word;
}
.awardTableBody{
	width:25%;
	word-break: break-word;
}
.commentTableBody{
	width:45%;
	word-break: break-word;
	padding-right: 5px;
}
.creditTable{
	width:540px; 
	height:60px; 
	overflow:auto;
}
.tableLable{
	color:#66B3F1;
	font-weight:600;"
}