/* Main content */
.talent-main-container {
  position: fixed;
  top: 48px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 13px;
  min-width: 750px;
  overflow: hidden;
}

.talent-left-col {
  height: 100%;
  width: 174px;
  float: left;
  z-index: 1;
  background-color: white;
  overflow-y: scroll;
  position:relative;
}

.talent-left-col-container {
  padding-left: 5px;
  margin-bottom: 100px;
}

.match-output {
  height: 34px;
  width: 100%;
  background-color: #66B3F1;
  margin: 0px;
  color: white;
  line-height: 34px;
  text-align: center;
  /*font-size: 20px;*/
  margin-bottom: 5px;
}

.filter-text-input {
  margin-bottom: 5px;
  width: 125px;
  height: 20px;
  font-size: 13px;
  clear: left;
}

.check-toggle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #66B3F1;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

.filter-header-container {
  width: 120px;
  height: 16px;
}

.arrow {
  float: right;
  width: 0; 
  height: 0; 
  margin-top: 3px;
  
}
.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #66B3F1;
}
.arrow-down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -ms-filter:
}

.filter-header {
  font-weight: 700;
  float: left;
}

.filter-option-container {
  margin-left: 5px;
  margin-bottom: 8px;

}
.filter-option {
  cursor: pointer;
  margin-right: 5px;
}

.talent-table, .talent-table-row, .talent-table-column {
   /*border-top: 1px solid black;*/
   border-bottom: 1px solid black;
   border-collapse:collapse;
   table-layout: fixed;
}

.talent-center-div {
  overflow-x: hidden;
  overflow-y: scroll;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  background-color: white;
  border-left: 1px solid grey;
}

.talent-table {
  width: 100%;
  float: left;
}

.talent-table-header {
  background-color: #66B3F1;
  cursor: pointer;
}

.talent-table-content {
  overflow-y:scroll;
  height: -moz-calc(100% - 48px - 34px);
  height: -webkit-calc(100% - 48px - 34px);
  height: calc(100% - 48px - 34px);
}

.talent-table-header td {
  color: white;
  height: 30px;
  text-align: center;
}

.talent-table-row {
  padding-left: 3px;
  height: 30px;
  cursor: pointer;
}

.talent-table-row:hover {
  background-color: #E4FDE7;
}

.active-talent {
  background-color: #E4FDE7;
}

/* Right content */

/* Top section */
.talent-right-container {
  float: right;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  width: 350px;
  background-color: #EDEDED;
  padding-top: 5px;
  position: relative;
  z-index: -100;
}

.talent-right-container-top-div {
  width: 100%;
  height: 100px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.talent-pic {
  border-radius: 100%;
  border: 1px solid grey;
  margin-right: 10px;
  width: 98px;
  height: 98px;
  background-size: 98px 98px;
  float: left;
}
.talent-contact-info {
  width: calc(100% - 120px);
  height: 90px;
  margin-top: 10px;
  float: left;
  clear: right;
}

.talent-name {
  font-size: 24px;
  font-weight: 400;
  float: left;
}

.edit-button {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  float: left;
}

.talent-contact {
  clear: both;
}

/*.right-talent-container-menu {
    width: 1094px;
    height: 27px;
    margin-right: auto;
    margin-left: 35px;
    border: 1px solid #66B3F1;
    border-radius: 11px;
}
/* Menu 
.right-talent-container-menu-link {
  float: left;
  width: 105px;
  height: 25px;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
  border-collapse:collapse;
  margin-bottom: 10px;
  cursor: pointer;
}
.center-link {
    border-left: 1px solid #66B3F1;
    border-right: 1px solid #66B3F1;
    width: 182px;
}

.left-link {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 182px;
} 

.right-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 175px;
}

.right-talent-container-menu-link:hover {
    background-color: #66B3F1;
    color: white;
    width: 175px;
}

.active-talent-link {
    background-color: #66B3F1;
    color: white;
    width: 182px;
}*/

.talent-data-comment {
    height: 176px;
    width: 63%;
    border: 1px solid #66B3F1;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 2%;
}

.right-talent-container-menu {
    position: relative;
    height: 27px;
    border-radius: 11px;
    margin: 15px 20px 0px;
}


.credit-info {
    background-color:white; 
    margin-right: -4px;
    border-left: 1px solid #66B3F1;
    border-right: 1px solid #66B3F1;
    border-top: 1px solid #66B3F1;
    border-bottom: 1px solid #66B3F1;
    height: 26px;
    font-weight: 500;
    
}
.right-talent-container-menu button {
    width: 14.35%;
}
.right-talent-container-menu button:first-child {
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-talent-container-menu button:last-child {
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.right-talent-container-menu-link:hover {
    background-color: #66B3F1;
    color: white;
    }
    .right-talent-container-menu-link:focus {
    outline: 0;
    }
.active-talent-link {
    background-color: #66B3F1;
    color: white;
    }

/* Bottom content */
.talent-right-container-other-div {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    margin-left: 2px;
}

.comment-div {
  margin-bottom: 5px;
  clear: left;
}
.comment-name {
  font-size: 12px;
  font-weight: 700;
}

.comment-date {
  font-size: 12px;
}


.comment-text {
  font-size: 14px;
}

.comments-container {
  width: 100%;
  padding-bottom: 150px;
  overflow: scroll;
}

.delete-comment-button {
  background-color: #E88080;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  color: white;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  left: 320px;
  margin-top: 5px;
  cursor: pointer;
}

.comment-box {
  width: 100%;
  height: 150px;
  margin-left: -5px;
  bottom: 0px;
}

.comment-input {
  outline: none;
  border: none;
  border: 1px solid #66B3F1;
  height: 103px;
  width: 31%;
  padding: 5px;
  margin: 0px;
  font-size: 14px;
  resize: none;
  margin-left: 1%;
}

.comment-submit {
  /*clear: both;*/
    margin-left: -360px;
    margin-top: 56px;
    width: 100px;
    color: white;
  background-color: #66B3F1;
}
.comment-submit:hover, .comment-submit:focus {
    color: white;
    text-decoration: none;
}
.comment-submit:focus, .comment-submit:focus:active, .active.comment-submit:focus {
    outline: 3px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


.active-column {
  background-color: #E4FDE7;
}

.active-header {
  background-color: #A8CEEC;
}

.talent-right-container-other-div p {
    font-size: 14px;
    font-family: vardana;
    color: #555;
    margin-left: 31px;
    width: 265%;
}

/*Grid Style Change*/

#talentGrid .ui-grid-pager-control input{
  height: 26px;
}

#talentGrid .ui-grid-filter-input{
  height: 30px;
  border-radius:5px;
  border: 1px solid #EFE;
  font-weight: bold;
}
#talentGrid .ui-grid-header-cell-row {
  background-color: #66B3F1;  
}
#talentGrid .ui-grid-header-cell-label{
  color: #fff;
  font-weight: bold;
}

.ui-grid-pager-row-count-picker select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 0.5;
    border-radius: 3px;
    height: 26px;
    width: 70px;
    display: inline;
}


.ui-grid-pager-control input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 0.5;
    border-radius: 3px;
    display: inline;
    height: 26px;
    width: 60px;
    vertical-align: top;
}

table.creditSection {
    display: table;
    border-collapse: collapse;
    width: 99%;
    margin-bottom: 5px;
    margin-left: 22px;
}
table.creditSection thead, table.creditSection tbody {
    float: left;
    width: 97%;
}
table.creditSection tbody {
    overflow: auto;
    height: 150px;
    margin-top: 15px;
    margin-left: -4px;
}
table.creditSection tr {
  width: 100%;
  display: table;
  text-align: left;
  height: 10%;
  margin-left: -4px;
}
table.creditSection th {
    background-color: #66B3F1;
    color: white;
}
table.creditSection th, table.creditSection td {
    

    text-align: left;
    padding: 8px;
}
.creditSection>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {

    background-color: #F3F3F3;
}
.creditSection>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
  background-color: #FDFDFD;
}
.commentTableBody{
  width:45%;
  word-break: break-word;
  padding-right: 5px;
}
.credit_table{
    width: 540px;
    margin-bottom: 5px;
    margin-left: 32px;
}
.tableLable{
  color:#66B3F1;
  font-weight:600;"
}

.talent-data-comment-headers {
    width: 100%;
    height: 17px;
    color: white;
    background-color: #66B3F1;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/*credit_table tbody{
    width: 1045px;
    margin-left: 28px;
    height: 175px;
    overflow-y: auto;
}*/

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
  margin-right: 47px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {
  
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;  
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
 
}

#talentInfo{
  font-size: 16px;
  font-family: 'Lato';
}


.talent-table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #F3F3F3;
}


.talent-table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #FDFDFD;
}

.input-url-pre-text{
    color: #66b3f1;
    font-weight: bold;
}

.talentProfileRightPanel{
  display: inline;
  position: relative;
  padding: 2px;
  width: 50%;
  border: 0px;
  float: left;
}
.talentProfileLeftPanel{
  display: inline;
  position: relative;
  padding: 2px;
  border: 0px;
  float: left;
}
.talentList{
  width: 97% !important;
  word-wrap:break-word;
}
.talentImgSection{
  float: left;
  position: absolute;
  left: 200px;
  top:-10px;
  display: block;
  z-index: 2px;
}
.talentProfileImg{
  border: 0px solid blue;
  border-radius: 50%;
}
.exportXlsxTalent{
  display: block;
  float: right;
  padding: 2px;
  margin: 2px;
  position: relative;
  clear: both;
}
#exportData{
  z-index: 10px;
}
.rowClicked{
  background-color: rgba(0, 8, 255, 0.42) !important;
}

.talentDetails{
  width: 9% !important;
}
.partnerDispalyTbl{
margin-left: 13%;
}
.partnerTypeAhead{
  width: 100% !important;
  height: 10% !important;
  margin-left: 5px;

}
.applyReset{
  width: 100%;
  margin: 3px;
}
.applyReset button{
  margin-right: 10%;
}