.user-table, .user-table-row, .user-table-column {
   border: 1px solid black;
   border-collapse:collapse;
}

.user-table {
  margin-left: 20px;
  width: 700px;
  margin-top: 29px;
  float: left;
  }

.table-scroll {
    overflow-y: scroll;
    float: left;
    max-width: 800px;
    height: 530px;
    margin-top: 49px;
}

.user-table-row {
  width: 200px;
}

.user-table-column {
  padding-left: 0px;
  height: 30px;
}

.center {
  padding: 10px;
  text-align: center;
}

.user-table-header {
    background-color: #66B3F1;
    position: absolute;
    width: 700px;
    margin-top: -30px;
    margin-left: -1px;
}

.user-table-header td{
  width: 200px;
  color: white;
  height: 30px;
  text-align: center;

}

.user-form-container {
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
  height: 400px;
  float: left;
}

.user-form-error-text {
  color: red;
  font-size: 14px;
  min-height: 17px;
  margin-bottom: 5px;
}

#userForm{
  width: 297px;
}