.user-table, .user-table-row, .user-table-column {
   border: 1px solid black;
   border-collapse:collapse;
}

.user-table {
  margin-left: auto;
  margin-right: auto;
}

.user-table-row {
  width: 200px;
}

.user-table-column {
  padding-left: 3px;
  height: 30px;
}

.center {
  padding: 0px;
  text-align: center;
}

.user-table-header {
  background-color: #66B3F1;
}
.user-table-header td{
  width: 200px;
  color: white;
  height: 30px;
  text-align: center;
}