/* Main content */
.youtube-main-container {
  position: fixed;
  top: 48px;
  left: 0px;
  width: calc(100% - 501px);
  height: 100%;
  overflow-x: hidden;
  font-size: 13px;
  min-width: 600px;
  overflow: hidden;
}

.youtube-left-col {
  height: 100%;
  width: 174px;
  float: left;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
  overflow-y: scroll;
}

.filter-text-input {
  margin-bottom: 5px;
  width: 125px;
  height: 30px;
  font-size: 13px;
  clear: left;
  margin-top: 4px;
  margin-left: -34px;
  border: 1px solid #66B3F1;
}

.check-toggle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #66B3F1;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

.filter-header-container {
  width: 120px;
  height: 16px;
  display: block;
  clear: both;
}

.arrow {
  float: right;
  width: 0; 
  height: 0; 
  margin-top: 3px;
  
}
.arrow-down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -ms-filter:
}
.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #66B3F1 !important;
}


.filter-header {
  font-weight: 700;
  float: left;
}

.filter-option-container {
  margin-left: 5px;
  margin-bottom: 8px;
  clear: both;
  display: none;

}
.filter-option {
  cursor: pointer;
  margin-right: 5px;
}

.youtube-table, .youtube-table-row, .youtube-table-column {
   /*border-top: 1px solid black;*/
   border-bottom: 1px solid black;
   border-collapse:collapse;
   table-layout: fixed;
}

.youtube-center-div {
  overflow-x: hidden;
  overflow-y: scroll;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  background-color: white;
  border-left: 1px solid grey;
}

.channel-row {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid grey;
}

.channel-thumbnail {
  width: 55px;
  height: 55px;
  margin: 10px;
  float: left;
}

.channel-row-content {
  float: left;
  width: -moz-calc(100% - 95px);
  width: -webkit-calc(100% - 95px);
  width: calc(100% - 95px);
  height: 55px;
  padding: 10px;


}

/* Right content */

/* Top section */
.youtube-right-container {
  float: right;
  height: -moz-calc(100% - 48px);
  height: -webkit-calc(100% - 48px);
  height: calc(100% - 48px);
  width: 500px;
  background-color: #EDEDED;
  padding-top: 5px;
  position: relative;
  z-index: -100;
}

.youtube-right-container-top-div {
  width: 100%;
  height: 100px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.youtube-pic {
  border-radius: 100%;
  border: 1px solid grey;
  margin-right: 10px;
  width: 98px;
  height: 98px;
  background-size: 98px 98px;
  float: left;
}
.youtube-contact-info {
  width: calc(100% - 120px);
  height: 90px;
  margin-top: 10px;
  float: left;
  clear: right;
}

.youtube-name {
  font-size: 24px;
  font-weight: 400;
  float: left;
}

.edit-button {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer;
  float: left;
}

.youtube-contact {
  clear: both;
}

.right-youtube-container-menu {
  width: 317px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #66B3F1;
  border-radius: 10px;
}

/* Menu */
.right-youtube-container-menu-link {
  float: left;
  width: 105px;
  height: 25px;
  text-align: center;
  font-size: 10px;
  line-height: 25px;
  border-collapse:collapse;
  margin-bottom: 10px;
  cursor: pointer;
}
.center-link {
  border-left: 1px solid #66B3F1;
  border-right: 1px solid #66B3F1;
}

.left-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.right-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.right-youtube-container-menu-link:hover {
  background-color: #66B3F1;
  color: white;
}

.active-youtube-link {
  background-color: #66B3F1;
  color: white;
}


/* Bottom content */
.youtube-right-container-other-div {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}



