<div class="data-left-column">
    <div class="data-left-column-categories">
        <div class="data-left-column-categories-div active-data-right-column-link"
             ng-click="updateActiveSection($event, 'Talent')">TALENT
        </div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'Contact')">CONTACT</div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'Credit')">CREDIT</div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'Role')">ROLE</div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'Genre')">GENRE</div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'CreditType')">CREDIT TYPE
        </div>
        <div class="data-left-column-categories-div" ng-click="updateActiveSection($event, 'Ethnicity')">ETHNICITY</div>
    </div>
    <div class="data-left-column-data" ng-show="section!=='Talent'">
        <div class="data-left-column-data-row" ng-repeat="element in activeData | orderBy: filterData"
             ng-click="setActiveElement($event, element)" ng-class="{'active-element': element.id === activeElement.id}"
             ng-if="element.name!=''">{{element.name}}
        </div>
    </div>
    <div class="data-left-column-data" ng-if="section==='Talent'">
        <div class="data-left-column-data-row">
            <input type="text" ng-model="talentNameInput" typeahead-on-select="getTalentDetails($item)"
                   placeholder="Enter Talent Name ..."
                   uib-typeahead="talentName as talentName.name for talentName in getTalentNames($viewValue)"
                   typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
</div>
<div class="data-main-section">
    <div class="form-title-div">
        <h1 class="data-form-title">{{section}} Form - <span ng-show="!editElement">New</span><span
                ng-hide="!editElement">Edit</span></h1>

        <div class="form-button" ng-hide="!editElement" ng-click="clearForm()">New</div>
        <div class="form-button" ng-hide="!editElement" ng-click="deleteElement()">Delete</div>
    </div>
    <p class="data-main-error-text">{{errorText}}</p>

    <!-- Talent menu -->
    <div class="talent-form-menu" ng-show="section==='Talent'">
        <div class="talent-form-menu-button" talent-form-section="main" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'main'}">Main
        </div>
        <div class="talent-form-menu-button" talent-form-section="management" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'management', 'talent-form-menu-button-inactive': !editElement}">
            Management
        </div>
        <div class="talent-form-menu-button" talent-form-section="social" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'social', 'talent-form-menu-button-inactive': !editElement}">
            Social Profiles
        </div>
        <div class="talent-form-menu-button" talent-form-section="credits" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'credits', 'talent-form-menu-button-inactive': !editElement}">
            Credits
        </div>
        <div class="talent-form-menu-button" talent-form-section="comments" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'comments', 'talent-form-menu-button-inactive': !editElement}">
            Comments
        </div>
        <div class="talent-form-menu-button" talent-form-section="info" ng-click="updateTalentForm($event)"
             ng-class="{'talent-form-menu-button-active': talentSection === 'info', 'talent-form-menu-button-inactive': !editElement}">
            Info
        </div>
    </div>

    <div class="data-form-container">
        <!-- ROLE FORM -->
        <form ng-show="section==='Role'">
            <input class="id-input" ng-model="activeElement.id" type="text">

            <p class="input-label">Role Name (Required)</p>
            <input class="data-input" ng-model="activeElement.name" type="text" required="true">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>
        <!-- Ethnicity FORM -->
        <form ng-show="section==='Ethnicity'">
            <input class="id-input" ng-model="activeElement.id" type="text">

            <p class="input-label">Name (Required)</p>
            <input class="data-input" ng-model="activeElement.name" type="text" required="true">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>
        <!-- GENRE FORM -->
        <form ng-show="section==='Genre'">
            <input class="id-input " ng-model="activeElement.id" type="text">

            <p class="input-label">Genre Name (Required)</p>
            <input class="data-input" ng-model="activeElement.name" type="text" required="true">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>

        <!-- CREDIT TYPE FORM -->
        <form ng-show="section==='CreditType'">
            <input class="id-input " ng-model="activeElement.id" type="text">

            <p class="input-label">Credit Type Name (Required)</p>
            <input class="data-input" ng-model="activeElement.name" type="text" required="true">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>

        <!-- CREDIT FORM -->
        <form ng-show="section==='Credit'">
            <input class="id-input" ng-model="activeElement.id" type="text">

            <p class="input-label">Record</p>
            <input class="data-input" ng-model="activeElement.record_id" type="input"/>

            <p class="input-label">Credit Name (Required)</p>
            <input class="data-input" ng-model="activeElement.name" type="text" required="true">

            <p class="input-label">Release Year (YYYY)</p>
            <input class="data-input" ng-model="activeElement.release_date" type="input">

            <p class="input-label">LogLine</p>
            <input class="data-input select-input" ng-model="activeElement.logline" type="input"/>

            <p class="input-label">EstimatedBudget</p>
            <input class="data-input select-input" ng-model="activeElement.estimatedBudget" type="input"/>

            <p class="input-label">Box Office Income</p>
            <input class="data-input select-input" ng-model="activeElement.box_office_income" type="input">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>

        <!-- CONTACT FORM -->
        <form ng-show="section==='Contact'">
            <input class="id-input" ng-model="activeElement.id" type="text">

            <p class="input-label">First Name (Required)</p>
            <input class="data-input" ng-model="activeElement.first_name" type="text" required="true">

            <p class="input-label">Last Name (Required)</p>
            <input class="data-input" ng-model="activeElement.last_name" type="text">

            <p class="input-label">Email</p>
            <input class="data-input" ng-model="activeElement.email" type="text">

            <p class="input-label">Phone</p>
            <input class="data-input" ng-model="activeElement.phone" type="text">
            <input class="data-input data-submit" ng-click="submitData()" type="submit" value="{{btnTxt}}">
        </form>

        <!-- TALENT FORM -->

        <!-- Main, Management, Social -->
        <form class="talent-form" name="talent-form" ng-show="section==='Talent'" novalidate>
            <div ng-show="talentSection==='main'">
                <div class="talent-column">
                    <input class="id-input" ng-model="activeElement.id" type="text">

                    <p class="input-label">First Name (Required)</p>
                    <input class="data-input" ng-model="activeElement.first_name" type="text" required="true">

                    <p class="input-label">Last Name (Required)</p>
                    <input class="data-input" ng-model="activeElement.last_name" type="text" required="true">

                    <p class="input-label">Email</p>
                    <input class="data-input" ng-model="activeElement.email" type="text">

                    <p class="input-label">Phone</p>
                    <input class="data-input" ng-model="activeElement.phone" type="text">

                    <p class="input-label">Gender</p>
                    <select class="data-input select-input" ng-model="activeElement.gender">
                        <option></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="talent-column">
                    <p class="input-label">City</p>
                    <input class="data-input" ng-model="activeElement.city" type="text">

                    <p class="input-label">State</p>
                    <input class="data-input" ng-model="activeElement.State" type="text">

                    <p class="input-label">Country</p>
                    <input class="data-input" ng-model="activeElement.country" type="text">

                    <p class="input-label">Ethnicity</p>
                    <select class="data-input select-input" ng-model="activeElement.ethnicity_id">
                        <option></option>
                        <option ng-repeat="ethnicity in data.Ethnicity | orderBy : 'name'" value="{{ethnicity.id}}">
                            {{ethnicity.name}}
                        </option>
                    </select>
                </div>
                <input class="data-input data-submit" ng-click="submitData('talent')" type="submit" value="{{btnTxt}}">
            </div>

            <div ng-show="talentSection==='management'">
                <div class="talent-column">
                    <p class="input-label">Agent</p>
                    <select class="data-input select-input" ng-model="activeElement.agent_id">
                        <option></option>
                        <option ng-repeat="contact in data.Contact | orderBy : 'name'" value="{{contact.id}}">
                            {{contact.name}}
                        </option>
                    </select>

                    <p class="input-label">Manager</p>
                    <select class="data-input select-input" ng-model="activeElement.manager_id">
                        <option></option>
                        <option ng-repeat="contact in data.Contact | orderBy : 'name'" value="{{contact.id}}">
                            {{contact.name}}
                        </option>
                    </select>
                </div>
                <input class="data-input data-submit" ng-click="submitData('talent')" type="submit" value="{{btnTxt}}">
            </div>

            <div ng-show="talentSection==='social'">
                <div class="talent-column">
                    <p class="input-label">Twitter Url</p>
                    <input class="data-input" ng-model="activeElement.twitter_url" type="text">

                    <p class="input-label">Facebook Url</p>
                    <input class="data-input" ng-model="activeElement.facebook_url" type="text">
                </div>
                <div class="talent-column">
                    <p class="input-label">Vine Url</p>
                    <input class="data-input" ng-model="activeElement.vine_url" type="text">

                    <p class="input-label">Instagram Url</p>
                    <input class="data-input" ng-model="activeElement.instagram_url" type="text">
                </div>
                <input class="data-input data-submit" ng-click="submitData('talent')" type="submit" value="{{btnTxt}}">
            </div>
        </form>

        <!-- Credits -->
        <div ng-show="talentSection==='credits'">
            <form>
                <div class="talent-column">
                    <p class="input-label">Credit(s)</p>
                    <select class="talent-credit-select" multiple required>
                        <!-- If both genre and release_date exist -->
                        <option ng-if="credit.genre && credit.release_date" class="talent-credit-select-option"
                                ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">
                            {{credit.name}} ({{credit.release_date | date:'yyyy'}}) - {{credit.genre}}
                        </option>
                        <!-- If genre but not release_date exists -->
                        <option ng-if="!!credit.genre && !credit.release_date" class="talent-credit-select-option"
                                ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">
                            {{credit.name}} - {{credit.genre}}
                        </option>
                        <!-- If release date but not genre exists -->
                        <option ng-if="!credit.genre && !!credit.release_date" class="talent-credit-select-option"
                                ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">
                            {{credit.name}} ({{credit.release_date | date:'yyyy'}})
                        </option>
                        <!-- If neither genre nor release_date exist -->
                        <option ng-if="!credit.genre && !credit.release_date" class="talent-credit-select-option"
                                ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">
                            {{credit.name}}
                        </option>
                    </select>
                </div>
                <div class="talent-column">
                    <p class="input-label">Role</p>
                    <select class="talent-credit-role-select">
                        <option></option>
                        <option class="talent-credit-select-option" ng-repeat="role in data.Role | orderBy : 'name'"
                                value="{{role.id}}">{{role.name}}
                        </option>
                    </select>
                </div>
                <input class="data-input data-submit" ng-click="submitTalentCreditData()" type="submit"
                       value="{{btnTxt}}">
            </form>
            <div class="talent-credit-join-container">
                <div ng-repeat="join in activeElement.talentCreditJoins">
                    <p class="talent-credit-join-text">{{join.credit}} ({{join.release_date}}) | {{join.role}}</p>

                    <div class="delete-talent-credit-join-button" ng-click="removeTalentCreditJoin($event, join.id)">x
                    </div>
                </div>
            </div>

        </div>

        <!-- Comments -->
        <div class="talent-data-comments-container" ng-show="talentSection==='comments'">
            <div class="data-entry-comment-box">
                <textarea class="data-entry-comment-input" type="textarea" placeholder="Enter comment here"></textarea>
                <input ng-click="submitComment()" class="data-entry-comment-submit" type="submit" value="{{btnTxt}}"/>
            </div>
            <div class="talent-data-comments">
                <div class="talent-data-comment-header">Comments</div>
                <div class="comment-div" ng-repeat="comment in activeElement.comments">
                    <div class="data-entry-delete-comment-button" ng-click="removeComment($event, comment.comment_id)">
                        x
                    </div>
                    <p><span class="comment-name">{{comment.name}}</span>, <span class="comment-date">{{comment.date | date}}</span>
                    </p>

                    <p class="comment-text">{{comment.text}}</p>
                </div>
            </div>

            <!-- <div class="talent-column">

            </div>
            <div class="talent-column">

            </div> -->
        </div>

        <!-- Info	-->

        <div ng-show="talentSection==='info'">
            <p class="input-label">Creator Name: </p>

            <p>{{}}</p>

            <p class="input-label">Created Date: </p>

            <p>{{activeElement.created_at | date }}</p>
        </div>

    </div>
</div>