
<h1 class="home-header">SOCIAL MEDIA STUDIOS</h1>
<img class="jumbo-img" src="assets/img/home_page_icon.png">
<div class="email-form-container">
  <p class="form-header">Sign up to stay informed!</p>
  <p class="error-message">{{errorMessage}}</p>
  <form class="centered-form">
    <input ng-model="email" class="email-input email-text" type="text" placeholder="Enter your email" />
    <input class="email-input email-submit" type="submit" value="Submit" ng-click="submitEmail()"/>
  </form>
</div>

