<div class="data-left-column">
  <div class="data-left-column-div active-data-entry-link" ng-click="updateActiveSection($event, 'Talent')">TALENT</div>
  <div class="data-left-column-div" ng-click="updateActiveSection($event, 'Contact')">CONTACT</div>
  <div class="data-left-column-div" ng-click="updateActiveSection($event, 'Credit')">CREDIT</div>
  <div class="data-left-column-div" ng-click="updateActiveSection($event, 'Role')">ROLE</div>
  <div class="data-left-column-div" ng-click="updateActiveSection($event, 'Genre')">GENRE</div>
</div>
<div class="data-main-section">
  <h1 class="data-form-title">{{section}} Form</h1>
</div>