<div class="talent-main-container">
  <div class="talent-left-col">
    <div class="match-output">
      {{talentGridOption.data.length}}/{{talentCount}}
    </div>
    <div class="talent-left-col-container">
      <div class="filter-header-container">
        <p class="filter-header">Name</p>
      </div>
      <input class="filter-text-input" ng-model="filerByname" 
      ng-keyup="updateFiltersByChckBox()" type="text" col="name" />
      <p><a href="#"><span class="check-toggle" ng-click="checkAll();updateFiltersByChckBox($event);">Check All</span></a> | <a href="#"><span class="check-toggle" ng-click="uncheckAll();updateFiltersByChckBox($event);">Uncheck All</span></a></p>

      <div class="filter-header-container clickable">
        <p class="filter-header">Role</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="role_list" class="filter-option-container">
        <input class="filter-option all-option" id="allRole" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="*" checked>All
        <div ng-repeat="role in data.RolePriority | orderBy : 'name'">
          <input class="filter-option role-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="{{role.name}}" unchecked>{{role.name}}
        </div>
         <div ng-repeat="role in data.RoleNonPriority | orderBy : 'name'">
          <input class="filter-option role-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="{{role.name}}" unchecked>{{role.name}}
        </div>
        
      </div>

      <div class="filter-header-container clickable">
        <p class="filter-header"> Genre</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="genre_list" class="filter-option-container">
        <input class="filter-option all-option" id="allGenres" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="genre in data.GenrePriority | orderBy : 'name'">
          <input class="filter-option genre-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{genre.name}}" unchecked>{{genre.name}}
        </div>
        <!-- <div>---------</div> -->
        <div ng-repeat="genre in data.GenreNonPriority | orderBy : 'name'">
          <input class="filter-option genre-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{genre.name}}" unchecked>{{genre.name}}<br>
        </div>
      </div>


      <div class="filter-header-container clickable">
        <p class="filter-header">Gender</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="gender_list" class="filter-option-container">
        <input class="filter-option all-option" id="allGender"  type="checkbox" ng-click="updateFiltersByChckBox($event)" value="*" checked>All<br>
        <div>
          <input class="filter-option gender-input"  type="checkbox" col="primary_role" value="Male" ng-click="updateFiltersByChckBox($event)" unchecked>Male<br>
        </div>
        <div>
          <input class="filter-option gender-input"  type="checkbox" col="primary_role" value="Female" ng-click="updateFiltersByChckBox($event)" unchecked>Female<br>
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Age</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="age_list" class="filter-option-container">
        <input class="filter-option all-option" id="allAges" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All<br>
        <div ng-repeat="age in ages | orderBy : 'id'">
          <input class="filter-option age-list-class" type="checkbox" ng-click="updateFiltersByChckBox($event)" col="primary_genre" value="{{age.name}}" unchecked>{{age.name}}<br>
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Ethnicity</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="ethnicity_list" class="filter-option-container">
        <input class="filter-option" id="allEthnicity" ng-click="updateFiltersByChckBox($event)"  type="checkbox"  value="*" checked>All
        <div ng-repeat="ethnicity in data.Ethnicities | orderBy : 'name'" ng-if="ethnicity.name!==''">
          <input class="filter-option ethnicity-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{ethnicity.name}}" unchecked>{{ethnicity.name}}
        </div>
      </div>
      <!-- div class="filter-header-container">
        <p class="filter-header">Country</p>
      </div>
      <input class="filter-text-input" ng-model="filerByCountry" ng-keyup="updateFiltersByChckBox()" type="text" col="name" /> -->

      <div class="filter-header-container clickable">
        <p class="filter-header"> Country</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="country_list" class="filter-option-container">
        <input class="filter-option" id="allCountries" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="item in data.countryNames | orderBy : 'country'">
          <input class="filter-option country-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{item.country}}" unchecked>{{item.country}}
        </div>
      </div>


      <div class="filter-header-container clickable">
        <p class="filter-header"> Created By</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="createdby_list" class="filter-option-container">
        <input class="filter-option all-option" id="allCreatedBy" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="item in data.createdByNames | orderBy : 'createdby'">
          <input class="filter-option createdby-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{item.createdby}}" unchecked>{{item.createdby}}
        </div>
      </div>

      <div class="filter-header-container clickable">
        <p class="filter-header"> Awards </p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="awards_list" class="filter-option-container">
        <input class="filter-option all-option" id="allAwards" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="item in data.awardsNameList | orderBy : 'awardname'">
          <input class="filter-option awards-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{item.awardname}}" unchecked>{{item.awardname}}
        </div>
      </div>

      <div class="filter-header-container clickable">
        <p class="filter-header">Budget</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="budget_list" class="filter-option-container">
        <input class="filter-option all-option" id="allBudget"  type="checkbox" ng-click="updateFiltersByChckBox($event)" value="*" checked>All<br>
        <div ng-repeat="budget in budgets | orderBy : 'id'">
          <input class="filter-option budget-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{budget.name}}" unchecked>{{budget.name}}
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Box Office Rev.</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="box_office_income_list" class="filter-option-container">
        <input class="filter-option all-option" id="allBoxRevenue" ng-click="updateFiltersByChckBox($event)"  type="checkbox"  value="*" checked>All<br>
        <div ng-repeat="budget in budgets | orderBy : 'id'">
          <input class="filter-option BoxOfficeIncome-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{budget.name}}" unchecked>{{budget.name}}
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Box Office/Budget Multiple</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="income_list" class="filter-option-container">
        <select ng-model="budgetMultipleOption" ng-change="updateFiltersByChckBox($event);">
          <option style="display:none" value=""></option>
          <option  value="MaxGreaterOrEqual" selected="selected">Max >=</option>
          <option  value="MinGreaterOrEqual">Min >=</option>
        </select>
        <input ng-model="incomeMultipleInput" type="text" ng-keyUp="updateFiltersByChckBox($event);" />
      </div>
    </div>
  </div>
  <div class="talent-center-div">
    <div id="talentGrid" ui-grid="talentGridOption" ui-grid-selection ui-grid-pagination ui-grid-exporter ui-grid-resize-columns class="grid"></div>
    <div class="clear"></div>
    <div class="talent-right-container-content" ng-show="true">
    <div class="right-talent-container-menu">
      <div id="infoTab" class="right-talent-container-menu-link left-link active-talent-link" ng-click="updateTalentSection($event, 'info')">Contact Info</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'socialprofiles')">Social Profiles</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'credits')">Credits</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'award')">Awards</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'comments')">Comments</div>
      <div class="right-talent-container-menu-link right-link" ng-click="updateTalentSection($event, 'contacts')">Other Info</div>
    </div>

    <div class="talent-right-container-other-div" ng-show="activeSectionInfo==='info'">
    </br>
    <p ng-repeat="associate in associateData | orderBy:'associatename'">     
      <span class="tableLable">{{associate.associatename}}</span>: <span>{{associate.firstname}} {{associate.lastname}}</span>
    </p>
    <p><span class="tableLable">Partner</span>: <span><a href="#" 
      ng-click="getPartnerDetailsInfo()">{{partner_name}}</a></span></p>
    <p><span class="tableLable">Email</span>: <span>{{email}}</span></p>
    <p><span class="tableLable">Phone</span>: <span>{{phone}}</span></p>
    </div>
    
    <div class="talent-right-container-other-div" ng-show="activeSectionInfo==='socialprofiles'">
    </br>
    <p><span class="tableLable">Facebook Url</span>: <span><a target="_blank" href="{{facebookurl}}">{{facebookurl}}</a></span></p>
    <p><span class="tableLable">Twitter Url</span>: <span><a target="_blank" href="{{twitterurl}}">{{twitterurl}}</a></span></p>
    <p><span class="tableLable">Instagram Url</span>: <span><a target="_blank" href="{{instagramurl}}">{{instagramurl}}</a></span></p>
    <p><span class="tableLable">Vine Url</span>: <span><a target="_blank" href="{{vineurl}}">{{vineurl}}</a></span></p>
    <p><span class="tableLable">YouTube Url</span>: <span><a target="_blank" href="{{youtubeurl}}">{{youtubeurl}}</a></span></p>
    </div>
    
    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='credits'">
    </br>
    <div>
    <table class="creditSection">
    <thead>
        <tr>
            <th class="col-md-2">Title</th>
            <th class="col-md-1">Release Date</th>
            <th class="col-md-3">Role</th>
            <th class="col-md-2">Budget</th>
            <th class="col-md-2">Box Office</th>
            <th class="col-md-2">Log Line</th>
        </tr>
    </thead>


    <tbody>
        <tr ng-repeat="credits in creditsData | orderBy:'-releasedate'">
            <td class="col-md-2">{{credits.title}}</td>
            <td class="col-md-1">{{credits.releasedate}}</td>
            <td class="col-md-3">{{credits.roll}}</td>
            <td class="col-md-2">{{credits.budget}}</td>
            <td class="col-md-2">{{credits.boxoffice}}</td>
            <td class="col-md-2">{{credits.logline}}</td>
        </tr>
        </tbody>
</table>

  </div>

  </div>



    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='award'">
    </br>
    <table class="creditSection">
    <thead>
        <tr>
            <th class="col-md-2">Year</th>
            <th class="col-md-2">Award</th>
            <th class="col-md-2">Category</th>
            <th class="col-md-2">Result</th>
            <th class="col-md-2">Credit</th>
        </tr>
    </thead>



    <tbody>



        <tr ng-repeat="awards in awardsData | orderBy:'-year'">
            <td class="col-md-2">{{awards.year}}</td>
            <td class="col-md-2">{{awards.name}}</td>
            <td class="col-md-2">{{awards.awardfor}}</td>
            <td class="col-md-2">{{awards.type}}</td>
            <td class="col-md-2">{{awards.credit}}</td>
        </tr>
        </tbody>

</table>
  </div>





<div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='comments'">
    </br>  

	<div class="talent-data-comment">
		<div class="talent-data-comment-headers">Comments</div>
		<div class="comment-div" ng-repeat="comment in commentsData | orderBy:'-date'">
			<div class="data-entry-delete-comment-button" 
      ng-if="comment.name===talent_display_username" ng-click="removeComment($event, comment.comment_id)">x</div>
			<p><span class="comment-name">{{comment.name}}</span>, <span class="comment-date">{{comment.date | date}}</span></p>
			<p class="comment-text">{{comment.text}}</p>
		</div>
	</div>
  
       <!--  <div ng-show='comStatus'>{{commentMsg}}</div> -->
        <div class="comment-box" style="margin-left: 54%;margin-bottom: 73px;">
          <textarea class="comment-input" style="height:90px;" type="textarea" placeholder="Enter comment here"></textarea>
          <button type="submit" class="btn comment-submit" ng-click="submitComment()">Submit</button>
          </div>
  

    </div>
    
    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='contacts'">
    </br>
        <p><span class="tableLable">Created By</span>: <span>{{mainTalent.createdBy}}</span></p>
    <p><span class="tableLable">Created Date</span>: <span>{{mainTalent.createdAt}}</span></p>
    <p><span class="tableLable">Created Comments</span>: <span>{{mainTalent.createdByComments}}</span></p>
    <p><span class="tableLable">Modified By</span>: <span>{{mainTalent.modifiedBy}}</span></p>
    <p><span class="tableLable">Modified Date</span>: <span>{{mainTalent.lastEdited}}</span></p>
    <p><span class="tableLable"> Modified Comments</span>: <span>{{mainTalent.modifiedByComments}}</span></p>
    </div>

  </div>

</div>
</div>


<div class="container hiddenPopUp">
    <div class="data-form-container">
        <!-- TALENT FORM -->
        <div class="data-main-section">
          <div class="form-title-div">
            <i class="icon-remove-sign"></i>
              <h1 class="data-form-title">Talent Form </h1>
              <span id="close-icon" class="glyphicon glyphicon-remove"  
              ng-click="closepopup();" style="display:inline;float:right;"></span>
          </div>

          <!-- Talent menu -->
          <div class="talent-form-menu" ng-show="section==='Talent'">
              <span id="mainTab" class="talent-form-menu-button" ng-click="showsection($event, 'main')">Main</span>
              <span class="talent-form-menu-button" ng-click="showsection($event,'management')">Management</span>
              <span class="talent-form-menu-button" ng-click="showsection($event,'social')">Social Profiles</span>
              <span class="talent-form-menu-button" ng-click="showsection($event,'credits')">Credits</span>
              <span class="talent-form-menu-button" ng-click="showsection($event,'comments')">Comments</span>
              <span class="talent-form-menu-button" ng-click="showsection($event,'info')">Info</span>
          </div>
      </div>
        <p class="data-main-error-text">{{showmsg.errorText}}</p>
        <!-- Main, Management, Social -->
        <form class="talent-form" name="talent-form" ng-show="section==='Talent'" novalidate>
            <div ng-show="talentSection==='main'">
                <div class="talent-column">
                    <input class="id-input" ng-model="activeElement.id" type="text">
                    <p class="input-label">First Name (Required)</p>
                    <input class="data-input" ng-model="activeElement.first_name" type="text" required="true">
                    <p class="input-label">Last Name (Required)</p>
                    <input class="data-input" ng-model="activeElement.last_name" type="text" required="true">
                    <p class="input-label">Email</p>
                    <input class="data-input" ng-model="activeElement.email" type="text">
                    <p class="input-label">Phone</p>
                    <input class="data-input" ng-model="activeElement.phone" type="text">
                    <p class="input-label">Gender</p>
                    <select class="data-input select-input" ng-model="activeElement.gender">
                        <option></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="talent-column">
                    <p class="input-label">City</p>
                    <input class="data-input" ng-model="activeElement.city" type="text">
                    <p class="input-label">State</p>
                    <input class="data-input" ng-model="activeElement.State" type="text">
                    <p class="input-label">Country</p>
                    <input class="data-input" ng-model="activeElement.country" type="text">
                    <p class="input-label">Ethnicity</p>
                    <select class="data-input select-input" ng-model="activeElement.ethnicity_id">
                        <option></option>
                        <option ng-repeat="ethnicity in data.Ethnicity | orderBy : 'name'" value="{{ethnicity.id}}">{{ethnicity.name}}</option>
                    </select>
                </div>
                <input class="data-input data-submit" ng-click="submitData('talent')" type="submit" value="Update">
            </div>


            <!-- management -->

            <div ng-show="talentSection==='management'">
              <div ng-show="successmsgtalent" style="color:red;">Management info updated successfully</div>
          <p class="input-label">Attorney</p>
			<select name="attorney" id="attorney" ng-model="attorney" class="data-input select-input">
				<option value=''>Select</option>
				<option ng-repeat="attorney in attornies" value="{{attorney.associate_id}}" ng-selected="attornyname == attorney.name">{{attorney.name}}
				</option>
			</select>
          <p class="input-label">Agent</p>
          	<select name="agent" id="agent" ng-model="agent" class="data-input select-input">
				<option value=''>Select</option>
				<option ng-repeat="agent in agents" value="{{agent.associate_id}}" ng-selected="agentname == agent.name">{{agent.name}}
				</option>
			</select>
          <p class="input-label">Manager</p>
          	<select name="manager" id="manager" ng-model="manager" class="data-input select-input">
				<option value=''>Select</option>
				<option ng-repeat="manager in managers" value="{{manager.associate_id}}" ng-selected="managername == manager.name">{{manager.name}}
				</option>
			</select>
          <p class="input-label">Publicist</p>
          	<select name="publicist" id="publicist" ng-model="publicist" class="data-input select-input">
				<option value=''>Select</option>
				<option ng-repeat="publicist in publicists" value="{{publicist.associate_id}}" ng-selected="publicistname == publicist.name">{{publicist.name}}
				</option>
			</select>
              <input class="data-input data-submit" ng-click="submitManagement()" type="submit" value="Update">
            </div>

            <!-- social profiles -->
            <div ng-show="talentSection==='social'">
                <div class="talent-column">
                    <p class="input-label">Twitter Url</p>
                    <span class="input-url-pre-text">http://www.</span>
                    <input class="data-input" ng-model="activeElement.twitter_url" type="text">
                    <p class="input-label">Facebook Url</p>
                    <span class="input-url-pre-text">http://www.</span>
                    <input class="data-input" ng-model="activeElement.facebook_url" type="text">
                    <p class="input-label">Youtube Url</p>
                    <span class="input-url-pre-text">http://www.</span>
                    <input class="data-input" ng-model="activeElement.youtube_url" type="text">
                </div>
                <div class="talent-column">
                    <p class="input-label">Vine Url</p>
                    <span class="input-url-pre-text">http://www.</span>
                    <input class="data-input" ng-model="activeElement.vine_url" type="text">
                    <p class="input-label">Instagram Url</p>
                    <span class="input-url-pre-text">http://www.</span>
                    <input class="data-input" ng-model="activeElement.instagram_url" type="text">
                </div>
                <input class="data-input data-submit" ng-click="submitData('talent')" type="submit" value="Update">
            </div>


            <!-- Credits -->

            <div ng-show="talentSection==='credits'">
                <form ng-show="section==='Credits'">
                    <div class="talent-column">
                        <p class="input-label">Credit(s)</p>
                        <select class="talent-credit-select" multiple required>
                            <!-- If both genre and release_date exist -->
                            <option ng-if="credit.genre && credit.release_date" class="talent-credit-select-option" ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">{{credit.name}} ({{credit.release_date | date:'yyyy'}}) - {{credit.genre}}</option>
                            <!-- If genre but not release_date exists -->
                            <option ng-if="!!credit.genre && !credit.release_date" class="talent-credit-select-option" ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">{{credit.name}} - {{credit.genre}}</option>
                            <!-- If release date but not genre exists -->
                            <option ng-if="!credit.genre && !!credit.release_date" class="talent-credit-select-option" ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">{{credit.name}} ({{credit.release_date | date:'yyyy'}})</option>
                            <!-- If neither genre nor release_date exist -->
                            <option ng-if="!credit.genre && !credit.release_date" class="talent-credit-select-option" ng-repeat="credit in data.Credit | orderBy : 'name'" value="{{credit.id}}">{{credit.name}}</option>
                        </select>
                    </div>
                    <div class="talent-column">
                        <p class="input-label">Role</p>
                        <select class="talent-credit-role-select">
                            <option></option>
                            <option class="talent-credit-select-option" ng-repeat="role in data.Role | orderBy : 'name'" value="{{role.id}}">{{role.name}}</option>
                        </select>
                    </div>
                    <input class="data-input data-submit" ng-click="submitTalentCreditData()" type="submit" value="Update">
                </form>
                <div class="talent-credit-join-container">
                    <div ng-repeat="join in activeElement.talentCreditJoins">
                        <p class="talent-credit-join-text">{{join.credit}} ({{join.release_date}}) | {{join.role}}</p>
                        <div class="delete-talent-credit-join-button" ng-click="removeTalentCreditJoin($event, join.id)">x</div>
                    </div>
                </div>

            </div>

            <!-- Comments -->
            <div class="talent-data-comments-container" ng-show="talentSection==='comments'">
                <div class="data-entry-comment-box">
                    <textarea class="data-entry-comment-input" type="textarea" placeholder="Enter comment here"></textarea>
                    <input ng-click="submitComment()" class="data-entry-comment-submit" type="submit" value="Update" />
                </div>
                <div class="talent-data-comments">
                    <div class="talent-data-comment-header">Comments</div>
                    <div class="comment-div" ng-repeat="comment in activeElement.comments | orderBy:'-date'">
                        <div class="data-entry-delete-comment-button"
                         ng-if="comment.name===talent_display_username" ng-click="removeComment($event, comment.comment_id)">x</div>
                        <p><span class="comment-name">{{comment.name}}</span>, <span class="comment-date">{{comment.date | date}}</span></p>
                        <p class="comment-text">{{comment.text}}</p>
                    </div>
                </div>
              </div>
              <!-- Info -->
              
              <div ng-show="talentSection==='info'">
                  <p class="input-label">Created By: {{activeElement.createdby}}</p>
                  <p class="input-label">Created Date:{{activeElement.created_at | date }}</p>
                  <p class="input-label">Modified By:{{activeElement.modifiedby}}</p>
                  <p class="input-label">Modified At:{{activeElement.last_edited | date }}</p>
                </div>
        </form>

        </div>

  </div>
  <div id="cover" ></div>

  <div id="veil" ng-show="isLoading"></div>
<div id="feedLoading" ng-show="isLoading">Loading...</div>