<div class="talent-main-container">
  <div class="talent-left-col">
    <div class="filter-header-container">
      <p class="filter-header">Name</p>
    </div>
    <input class="filter-text-input" ng-keyup="updateFiltersKeyUp($event)" type="text" col="name" />
    <div class="filter-header-container">
      <p class="filter-header">Location</p>
    </div>
    <input class="filter-text-input" ng-keyup="updateFiltersKeyUp($event)" type="text" col="location" />
    <p><span class="check-toggle" ng-click="checkAll()">Check All</span> | <span class="check-toggle" ng-click="uncheckAll()">Uncheck All</span></p>
    <div class-"filter-div">
      <div class="filter-header-container clickable">
        <p class="filter-header">Sex</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div class="filter-option-container">
        <div>
          <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="sex" value="Male" unchecked>Male<br>
          <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="sex" value="Female" unchecked>Female<br>
        </div>
      </div>
    </div>
    <div class="filter-header-container clickable">
      <p class="filter-header">Primary Role</p>
      <div class="arrow arrow-right arrow-down"></div>
    </div>
    <div class="filter-option-container">
      <div ng-repeat="role in data.Role | orderBy : 'name'">
        <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="primary_role" value="{{role.name}}" unchecked>{{role.name}}<br>
      </div>
      
    </div>
    <div class="filter-header-container clickable">
      <p class="filter-header">Secondary Role</p>
      <div class="arrow arrow-right arrow-down"></div>
    </div>
    <div class="filter-option-container">
      <div ng-repeat="role in data.Role | orderBy : 'name'">
        <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="secondary_role" value="{{role.name}}" unchecked>{{role.name}}<br>
      </div>
    </div>
    <div class="filter-header-container clickable">
      <p class="filter-header">Primary Genre</p>
      <div class="arrow arrow-right arrow-down"></div>
    </div>
    <div class="filter-option-container">
      <div ng-repeat="genre in data.Genre | orderBy : 'name'">
        <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="primary_genre" value="{{genre.name}}" unchecked>{{genre.name}}<br>
      </div>
    </div>
    <div class="filter-header-container clickable">
      <p class="filter-header">Secondary Genre</p>
      <div class="arrow arrow-right arrow-down"></div>
    </div>
    <div class="filter-option-container">
      <div ng-repeat="genre in data.Genre | orderBy : 'name'">
        <input class="filter-option" ng-click="updateFiltersClick($event)" type="checkbox" col="secondary_genre" value="{{genre.name}}" unchecked>{{genre.name}}<br>
      </div>
    </div>
  </div>
  <div class="talent-center-div">
      <table class="talent-table">
        <tr class="talent-table-header">
          <td class="talent-col-width">Name</td>
          <td class="talent-col-width">Primary Role</td>
          <td class="talent-col-width">Secondary Role</td>
          <td class="talent-col-width">Primary Genre</td>
          <td class="talent-col-width">Secondary Genre</td>
          <td class="talent-col-width">Sex</td>
          <td class="talent-col-width">Location</td>
        </tr>
        <tr ng-repeat="person in talent |  orderBy : 'name' | filter: talentFilter" class="talent-table-row" ng-click="updateMainTalent(person.id)">
          <td class="row-table-colum talent-col-width center">{{person.name}}</td>
          <td class="row-table-colum talent-col-width center">{{person.primary_role}}</td>
          <td class="row-table-colum talent-col-width center">{{person.secondary_role}}</td>
          <td class="row-table-colum talent-col-width center">{{person.primary_genre}}</td>
          <td class="row-table-colum talent-col-width center">{{person.secondary_genre}}</td>
          <td class="row-table-colum talent-col-width center">{{person.gender}}</td>
          <td class="row-table-colum talent-col-width center">{{person.location}}</td>
        </tr>
      </table>
  </div>

</div>
<div class="talent-right-container">
  <div class="talent-right-container-content" ng-show="!!mainTalent">
    <div class="talent-right-container-top-div">
      <img class="talent-pic" src="assets/img/default-talent-pic.png">
      <div class="talent-contact-info">
        <p class="talent-name">{{mainTalent.name}}</p>
        <p class="talent-contact">{{mainTalent.email}}</p>
        <p class="talent-contact">{{mainTalent.phone}}</p>
      </div>
    </div>
    <div class="right-talent-container-menu">
      <div class="right-talent-container-menu-link left-link active-talent-link" ng-click="updateTalentSection($event, 'info')">INFO</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'contacts')">CONTACTS</div>
      <div class="right-talent-container-menu-link right-link" ng-click="updateTalentSection($event, 'comments')">COMMENTS (X)</div>
    </div>

    <div class="talent-right-container-other-div" ng-show="activeSection==='info'">
      <p>Primary Role: {{mainTalent.primary_role}}</p>
      <p>Secondary Role: {{mainTalent.secondary_role}}</p>
      <p>Primary Genre: {{mainTalent.primary_genre}}</p>
      <p>Secondary Genre: {{mainTalent.secondary_genre}}</p>
      <p>IMDB Url: {{mainTalent.imdb_url}}</p>
      <p>LinkedIn Url: {{mainTalent.linkedin_url}}</p>
      <p>Facebook Url: {{mainTalent.facebook_url}}</p>
      <p>Twitter Url: {{mainTalent.twitter_url}}</p>
      <p>Instagram Url: {{mainTalent.instagram_url}}</p>
      <p>Vine Url: {{mainTalent.vine_url}}</p>

      <p>Credits: {{mainTalent.credits}}</p>
    </div>

    <div class="talent-right-container-other-div contacts" ng-show="activeSection==='contacts'">
      <p>Manager: {{mainTalent.manager}}</p>
      <p>Partner: {{mainTalent.partner}}</p>
      <p>Agent: {{mainTalent.agent}}</p>
    </div>

    <div class="talent-right-container-other-div contacts" ng-show="activeSection==='comments'">
      Comments
    </div>
  </div>


  


</div>
