<div class="talent-main-container">
  <div class="talent-left-col">
    <div class="match-output">
      {{talentGridOption.data.length}}/{{talentCount}}
    </div>
    <div class="talent-left-col-container">
      <div class="filter-header-container">
        <p class="filter-header">Name</p>
      </div>
      <input class="filter-text-input" ng-model="filerByname" 
      ng-keyup="updateFiltersByChckBox()" type="text" col="name" />
      <p><a href="#"><span class="check-toggle" ng-click="checkAll();updateFiltersByChckBox($event);">Check All</span></a> | <a href="#"><span class="check-toggle" ng-click="uncheckAll();updateFiltersByChckBox($event);">Uncheck All</span></a></p>

      <div class="filter-header-container clickable">
        <p class="filter-header">Role</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="role_list" class="filter-option-container">
        <input class="filter-option all-option" id="allRole" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="*" checked>All
        <div ng-repeat="role in data.RolePriority | orderBy : 'name'">
          <input class="filter-option role-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="{{role.name}}" unchecked>{{role.name}}
        </div>
         <div ng-repeat="role in data.RoleNonPriority | orderBy : 'name'">
          <input class="filter-option role-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_role" value="{{role.name}}" unchecked>{{role.name}}
        </div>
        
      </div>

      <div class="filter-header-container clickable">
        <p class="filter-header"> Genre</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="genre_list" class="filter-option-container">
        <input class="filter-option all-option" id="allGenres" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="genre in data.GenrePriority | orderBy : 'name'">
          <input class="filter-option genre-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{genre.name}}" unchecked>{{genre.name}}
        </div>
        <!-- <div>---------</div> -->
        <div ng-repeat="genre in data.GenreNonPriority | orderBy : 'name'">
          <input class="filter-option genre-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{genre.name}}" unchecked>{{genre.name}}<br>
        </div>
      </div>


      <div class="filter-header-container clickable">
        <p class="filter-header">Gender</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="gender_list" class="filter-option-container">
        <input class="filter-option all-option" id="allGender"  type="checkbox" ng-click="updateFiltersByChckBox($event)" value="*" checked>All<br>
        <div>
          <input class="filter-option gender-input"  type="checkbox" col="primary_role" value="Male" ng-click="updateFiltersByChckBox($event)" unchecked>Male<br>
        </div>
        <div>
          <input class="filter-option gender-input"  type="checkbox" col="primary_role" value="Female" ng-click="updateFiltersByChckBox($event)" unchecked>Female<br>
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Age</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="age_list" class="filter-option-container">
        <input class="filter-option all-option" id="allAges" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All<br>
        <div ng-repeat="age in ages | orderBy : 'id'">
          <input class="filter-option age-list-class" type="checkbox" ng-click="updateFiltersByChckBox($event)" col="primary_genre" value="{{age.name}}" unchecked>{{age.name}}<br>
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Ethnicity</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="ethnicity_list" class="filter-option-container">
        <input class="filter-option" id="allEthnicity" ng-click="updateFiltersByChckBox($event)"  type="checkbox"  value="*" checked>All
        <div ng-repeat="ethnicity in data.Ethnicities | orderBy : 'name'" ng-if="ethnicity.name!==''">
          <input class="filter-option ethnicity-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{ethnicity.name}}" unchecked>{{ethnicity.name}}
        </div>
      </div>
      <!-- div class="filter-header-container">
        <p class="filter-header">Country</p>
      </div>
      <input class="filter-text-input" ng-model="filerByCountry" ng-keyup="updateFiltersByChckBox()" type="text" col="name" /> -->

      <div class="filter-header-container clickable">
        <p class="filter-header"> Country</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="country_list" class="filter-option-container">
        <input class="filter-option" id="allCountries" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="item in data.countryNames | orderBy : 'country'">
          <input class="filter-option country-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{item.country}}" unchecked>{{item.country}}
        </div>
      </div>


      <div class="filter-header-container clickable">
        <p class="filter-header"> Created By</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="createdby_list" class="filter-option-container">
        <input class="filter-option all-option" id="allCreatedBy" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="*" checked>All
        <div ng-repeat="item in data.createdByNames | orderBy : 'createdby'">
          <input class="filter-option createdby-list-class" ng-click="updateFiltersByChckBox($event)" type="checkbox" col="primary_genre" value="{{item.createdby}}" unchecked>{{item.createdby}}
        </div>
      </div>

      <div class="filter-header-container clickable">
        <p class="filter-header">Budget</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="budget_list" class="filter-option-container">
        <input class="filter-option all-option" id="allBudget"  type="checkbox" ng-click="updateFiltersByChckBox($event)" value="*" checked>All<br>
        <div ng-repeat="budget in budgets | orderBy : 'id'">
          <input class="filter-option budget-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{budget.name}}" unchecked>{{budget.name}}
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Box Office Revenue</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="box_office_income_list" class="filter-option-container">
        <input class="filter-option all-option" id="allBoxRevenue" ng-click="updateFiltersByChckBox($event)"  type="checkbox"  value="*" checked>All<br>
        <div ng-repeat="budget in budgets | orderBy : 'id'">
          <input class="filter-option BoxOfficeIncome-list-class" ng-click="updateFiltersByChckBox($event)"  type="checkbox" col="primary_role" value="{{budget.name}}" unchecked>{{budget.name}}
        </div>
      </div>
      <div class="filter-header-container clickable">
        <p class="filter-header">Box Office/Budget Multiple</p>
        <div class="arrow arrow-right arrow-down"></div>
      </div>
      <div id="income_list" class="filter-option-container">
        <select>
          <option  value="MaxGreaterThan">Max Greater Than</option>
          <option  value="MaxGreaterThan">Min Greater Than</option>
          <option  value="AvgGreaterThan">Avg Greater Than</option>
        </select>
        <input ng-model="incomeMultipleInput" type="text" />
      </div>
    </div>
  </div>
  <div class="talent-center-div">
    <div id="talentGrid" ui-grid="talentGridOption" ui-grid-selection ui-grid-pagination ui-grid-exporter ui-grid-resize-columns class="grid"></div>
    <div class="clear"></div>
    <div class="talent-right-container-content" ng-show="true">
    <div class="right-talent-container-menu">
      <div id="infoTab" class="right-talent-container-menu-link left-link active-talent-link" ng-click="updateTalentSection($event, 'info')">Contact Info</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'socialprofiles')">Social Profiles</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'credits')">Credits</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'award')">Awards</div>
      <div class="right-talent-container-menu-link center-link" ng-click="updateTalentSection($event, 'comments')">Comments</div>
      <div class="right-talent-container-menu-link right-link" ng-click="updateTalentSection($event, 'contacts')">Other Info</div>
    </div>

    <div class="talent-right-container-other-div" ng-show="activeSectionInfo==='info'">
    </br>
    <p ng-repeat="item in associateData">     
      <span class="tableLable" ng-repeat-start="(key, value) in item">{{key}}</span>: <span ng-repeat-end>{{value}}</span>
    </p>
    <p><span class="tableLable">Email</span>: <span>{{mainTalent.email}}</span></p>
    <p><span class="tableLable">Phone</span>: <span>{{mainTalent.phone}}</span></p>
    </div>
    
    <div class="talent-right-container-other-div" ng-show="activeSectionInfo==='socialprofiles'">
    </br>
    <p><span class="tableLable">Facebook Url</span>: <span><a href="{{mainTalent.facebookurl}}">{{mainTalent.facebookurl}}</a></span></p>
    <p><span class="tableLable">Twitter Url</span>: <span><a href="{{mainTalent.twitterurl}}">{{mainTalent.twitterurl}}</a></span></p>
    <p><span class="tableLable">Instagram Url</span>: <span><a href="{{mainTalent.instagramurl}}">{{mainTalent.instagramurl}}</a></span></p>
    <p><span class="tableLable">Vine Url</span>: <span><a href="{{mainTalent.vineurl}}">{{mainTalent.vineurl}}</a></span></p>
    <p><span class="tableLable">YouTube Url</span>: <span><a href="{{mainTalent.youtubeurl}}">{{mainTalent.youtubeurl}}</a></span></p>
    </div>
    
    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='credits'">
    </br>
    <div class="credit_scroll">
    <table class="credit_table" style="width:1090px;margin-bottom:5px;">
      <tr><td class="creditTableHeads">Title</td><td class="creditTableHeads">Release Date</td><td class="creditTableHeads">Role</td><td class="creditTableHeads">Budget</td><td class="creditTableHeads">Box Office</td></tr>
    </table>
    <div id="table-wrapper">
    <div id="table-scroll">
    <table style="width: 1045px;margin-left: 28px;height: 175px;" class="talent-table-striped">
      <tr ng-repeat="credits in creditsData">
        <td class="creditTableBody">{{credits.title}}</td>
        <td class="creditTableBody">{{credits.releasedate}}</td>
        <td class="creditTableBody">{{credits.roll}}</td>
        <td class="creditTableBody">{{credits.budget}}</td>
        <td class="creditTableBody">{{credits.boxoffice}}</td>
      </tr>
    </table>
  </div>

  </div>

  </div>
  

    </div>
    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='award'">
    </br>
    <table  style="width:1090px;margin-bottom:5px;margin-left: 30px;">
      <tr style="text-align:center";><th class="creditTableHeads" style="width:180px;">Name</th><th class="creditTableHeads" style="width:180px;">Year</th><th class="creditTableHeads" style="width:180px;">Type</th><th class="creditTableHeads" style="width:180px;">Credit</th></tr>
    </table>
      <div id="table-wrapper">
    <div id="table-scroll">
    <table  style="width: 1045px;margin-left: 28px;height: 175px;" class="talent-table-striped">
      <tr ng-repeat="awards in awardsData">
        <td class="awardTableBody" ng-repeat="award in awards">
          {{award}}
        </td> 
      </tr>
    </table>
  </div>


    </div>
    </div>

    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='comments'">
    </br>  

  <div class="talent-data-comment">
        <div class="talent-data-comment-headers">Comments</div>
        <div class="comment-div" ng-repeat="comment in commentsData">
          <p ><span class="comment-name">{{comment.firstname}} {{comment.lastname}}</span>, <span class="comment-date">{{comment.date | date}}</span></p>
          <p class="comment-text">{{comment.comment}}</p>
        </div>
      </div>
  

    </div>
    
    <div class="talent-right-container-other-div contacts" ng-show="activeSectionInfo==='contacts'">
    </br>
        <p><span class="tableLable">Created By</span>: <span>{{mainTalent.createdBy}}</span></p>
    <p><span class="tableLable">Created Date</span>: <span>{{mainTalent.createdAt}}</span></p>
    <p><span class="tableLable">Created Comments</span>: <span>{{mainTalent.createdByComments}}</span></p>
    <p><span class="tableLable">Modified By</span>: <span>{{mainTalent.modifiedBy}}</span></p>
    <p><span class="tableLable">Modified Date</span>: <span>{{mainTalent.lastEdited}}</span></p>
    <p><span class="tableLable"> Modified Comments</span>: <span>{{mainTalent.modifiedByComments}}</span></p>
    </div>

  </div>

</div>
</div>
<!-- <div class="talent-right-container">

</div>
 -->