<!-- /
<div class="content">
  <div>
<table>
  <tr>
    <td>
              <input type="file" name="excel_file" accept=".xlsx" onchange="angular.element(this).scope().fileChanged(this.files);" required="true"></td>
  <td>
  <button class="form-button" ng-click="fileSelected()">Preview</button>
  <btton>
  </td>
</tr>
</table>
</div>
  <div ui-grid="xlsFileUpload" ui-grid-edit class="grid"></div>

  <button class="data-input data-submit" ng-click="saveGirdData()">Save</button>
</div>
 -->

<iframe width="100%" height="100%" src="http://www.socialmediastudios.co:8080/upload">
  <p>Your browser does not support iframes.</p>
</iframe> 