  <div class="login-form-container">
    <h2 class="sub-header">Log In</h2>
    <p class="error-message">{{errorMessage}}</p>
    <form class="centered-form">
      <p class="input-label">Email</p>
      <input ng-model="email" class="login-input" type="text" placeholder="Enter your email" />
      <p class="input-label">Password</p>
      <input ng-model="password" class="login-input" type="password" placeholder="Enter your password" />
      <input class="login-input login-submit" type="submit" value="Submit" ng-click="login()"/>
    </form>
  </div>



