
<h1 class="home-header">USERS</h1>
<table class="user-table" cellpadding="0" cellspacing="0">
  <tr class="user-table-header">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Permission</td>
  </tr>
  <tr class="user-table-row" ng-repeat="user in users">
    <td class="user-table-column">{{user.first_name}}</td>
    <td class="user-table-column">{{user.last_name}}</td>
    <td class="user-table-column">{{user.email}}</td>
    <td class="user-table-column center">{{user.permission}}</td>
  </tr>
</table>


