
<table class="user-table" cellpadding="0" cellspacing="0">
  <tr class="user-table-header">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Permission</td>
    <td>Last Visited</td>
  </tr>
  <tr class="user-table-row data-left-column-data-row" ng-repeat="user in users" ng-click="updateUserDetails($event, element, user.id)">
    <td class="user-table-column">{{user.first_name}}</td>
    <td class="user-table-column">{{user.last_name}}</td>
    <td class="user-table-column">{{user.email}}</td>
    <td class="user-table-column center">{{user.permission}}</td>
    <td class="user-table-column center">{{user.last_logged_in | date:'dd-MMM-yy hh:m a'}}</td>
  </tr>
</table>

<div class="user-form-container" id="userForm">
  <table class="form-title-div">
    <tr>
      <td><h1 ng-show="!editElement">Create New User</h1></td>
      <td><h1 ng-show="editElement">Update User</h1></td>
      <td><div class="form-button" ng-show="editElement" ng-click="clearForm()">New</div></td>
      <!-- <td><div class="form-button" ng-show="editElement" ng-click="deleteElement()">Delete</div></td> -->
    </tr>
  </table>
  <p class="user-form-error-text">{{errorText}}</p>
  <form name="userForm" novalidate>
     <input class="data-input" ng-model="userData.id" type="hidden">
    <p class="input-label">First Name (Required)</p>
    <input class="data-input" ng-model="userData.first_name" type="text" required="true">
    <p class="input-label">Last Name (Required)</p>
    <input class="data-input" ng-model="userData.last_name" type="text" required="true">
    <p class="input-label">Email (Required)</p>
    <input class="data-input" ng-model="userData.email" type="text" required="true">
    <p class="input-label">Password (Required)</p>
    <input class="data-input" ng-model="userData.password" type="password" required="true">
    <span ng-click="changePasswordLink()" ng-if="editElement"><a href="#">Change Password?</a></span>
    <div ng-if="changePasswordPanel">
      <p class="input-label">New Password</p>
      <input class="data-input" ng-model="newtext.newPassword"  type="password" required="true">
      <p class="input-label">Confirm New Password</p>
      <input class="data-input" ng-model="newtext.confirmNewPassword"  type="password" required="true">
      <span ng-click="cancelNewPassword()"><a href="#">Cancel</a></span>
    </div>
    <div ng-if="showCnfPwd">
      <p class="input-label">Confirm Password (Required)</p>
      <input class="data-input" ng-model="userData.confirmPassword"  type="password" required="true">
    </div>
    <p class="input-label">Permission (Required)</p>
    <select  class="data-input select-input" ng-model="userData.permission" required="true">
      <option value="1">1. Admin (User Creation)</option>
      <option value="2">2. Data Entry</option>
      <option value="3">3. View Data</option>
      <option value="4">4. Disabled</option>
    </select>
    <input class="data-input data-submit" ng-click="createUser()" type="submit" value="{{btnTxt}}">
  </form>

</div>


