
<h1 class="home-header">USERS</h1>
<table class="user-table" cellpadding="0" cellspacing="0">
  <tr class="user-table-header">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Permission</td>
  </tr>
  <tr class="user-table-row" ng-repeat="user in users">
    <td class="user-table-column">{{user.first_name}}</td>
    <td class="user-table-column">{{user.last_name}}</td>
    <td class="user-table-column">{{user.email}}</td>
    <td class="user-table-column center">{{user.permission}}</td>
  </tr>
</table>
<div class="user-form-container">
  <h2>Create New User</h2>
  <p class="user-form-error-text">{{errorText}}</p>
  <form>
    <p class="input-label">First Name (Required)</p>
    <input class="data-input" ng-model="userData.first_name" type="text" required="true">
    <p class="input-label">Last Name (Required)</p>
    <input class="data-input" ng-model="userData.last_name" type="text" required="true">
    <p class="input-label">Email (Required)</p>
    <input class="data-input" ng-model="userData.email" type="text" required="true">
    <p class="input-label">Password (Required)</p>
    <input class="data-input" ng-model="userData.password" type="text" required="true">
    <p class="input-label">Confirm Password (Required)</p>
    <input class="data-input" ng-model="confirmPassword" type="text" required="true">
    <input class="data-input data-submit" ng-click="createUser()" type="submit">
  </form>
</div>


